name: Release

on:
  release:
    types: [created]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      MACOSX_DEPLOYMENT_TARGET: "10.12"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up QEMU
        if: matrix.os == 'ubuntu-latest'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Add macos target
        if: matrix.os == 'macos-latest'
        run: rustup target add x86_64-apple-darwin

      - name: Install dependencies
        run: pip install cibuildwheel twine

      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  create_release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: [build_wheels] # Depends on the wheel-building job to succeed

    steps:
    - name: Download all wheels artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    # Create the GitHub Release
    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        # tag_name is automatically inferred from the push tag
        draft: true # Optional: Create as a draft first
        prerelease: false
        generate_release_notes: true
        # Add all the wheels from the downloaded artifacts to the release
        files: artifacts/**/*.whl 

    - name: Release URL
      run: echo "Release created at ${{ steps.create_release.outputs.url }}"
